dotenv              
eventlet            
Flask-SocketIO      
fqdn                
gradio            
gunicorn           
httptools           
isoduration         
jupyterlab         
langchain-chroma   
langchain-community
langchain-openai  
nltk               
pip                 
plotly              
PyDictionary      
scikit-learn       
tinycss2            
uri-template        
watchfiles          
webcolors          
wheel               