python-dotenv
jupyterlab
requests
numpy
pandas
scipy
scikit-learn
tqdm
openai
gradio
langchain
tiktoken
langchain-openai
langchain_chroma
langchain[docarray]
scikit-learn
chromadb
plotly
beautifulsoup4
pydub
psutil
setuptools
dotenv
wheel
chroma-hnswlib
flask
flask-socketio